* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial,
    Verdana, sans-serif;
  overflow-x: hidden;
}

header {
  height: 74vh;
  background-image: url("./asset/image/apple-background.jpg");
  background-size: 100%;
  background-position: 50% 98%;
}

nav {
  margin: 1.5% auto 9%;
  background: #333 linear-gradient(#999, #333);
  border: 0.1px solid #333;
  border-radius: 5px;
  width: 65%;
  height: 7%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  flex: 1;
}

nav ul li:hover {
  background-color: #333;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.747);
}

.header-text {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.header-text h1 {
  color: white;
}

.header-text p {
  color: white;
}

.header-text a {
  color: white;
  text-decoration: none;
}

.header-text a:hover {
  border-bottom: 1px solid #fff;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3px;
  margin-top: 3px;
}

footer {
  width: 69%;
  margin: 20px auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

footer a,
footer p,
.terms {
  font-size: 10px;
}

footer p {
  color: #6e6e6e;
}

footer a {
  text-decoration: none;
  color: #08c;
}

.footer ul {
  display: flex;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  border-right: 0.5px solid grey;
  padding: 0 5px;
}

.no-border {
  border: none;
}
.terms {
  border-right: 0.5px solid grey;
  margin: 0 5px 0 0;
}
.copyright {
  margin-top: 8px;
}
