* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:
    "Lucida Grande",
    "Lucida Sans Unicode",
    Helvetica,
    Arial,
    Verdana,
    sans-serif;
  font-size: 12px/18px;
}

header {
  height: 74vh;
  border: 0.5px solid white;
  background-image: url("./asset/image/apple-background.jpg");
  background-size: 100%;
  background-position: 50% 98%;
}

nav {
  display: flex;
  background: linear-gradient(#999, #333);
  width: 50%;
  height: 46px;
  align-items: center;
  margin: 2% auto 4%;
  border-radius: 7px;
}

.nav-items {
  border-right: 1px solid black;
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

footer a,
footer p,
.terms {
  font-size: 10px;
}

footer p {
  color: #6e6e6e;
}

footer a {
  text-decoration: none;
  color: #08c;
}

footer ul li a {
  border-right: 0.5px solid grey;
  padding: 0 5px;
}

.nav-items a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.search {
  display: flex;
}

.search i {
  position: relative;
  top: 5px;
  left: 18px;
  color: white;
}

.search input {
  border: 0.5px solid #333;
  background-color: gray;
  border-radius: 5px;
  margin-right: 10px;
}

.header-text {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.header-text h1 {
  color: white;
  font-size: 60px;
  padding: 50px 0;
}

.header-text p {
  color: white;
  font-size: 36px;
  font-weight: 100;
  line-height: 60px;
}

.header-text a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-text a:hover {
  border-bottom: 1px solid #fff;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3px;
  margin-top: 3px;
}

main a img {
  width: 100%;
}

footer {
  width: 69%;
  margin: 20px auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  display: flex;
}

footer ul li {
  list-style-type: none;
}

.no-border {
  border: none;
}

.terms {
  border-right: 0.5px solid grey;
  margin: 0 5px 0 0;
}

.copyright {
  margin-top: 8px;
}
